extends ../layouts/default

block variables
    - var pageTitle = "MIRA Jeugdkern Mailinglijst - Login"


block content
    form.pure-form.pure-form-stacked(action="login", method="POST")
        fieldset
            legend Please enter your username and password

            label.required(for="username") Username
            input.pure-input-1(type='text', name='username', value="")

            label.required(for="password") Password
            input.pure-input-1(type='password', name='password')
        input(name="_csrf", type="hidden", value="#{_csrf}")

        button.pure-button(type="submit") Login