mixin errors(field)
    if bindingResult.hasFieldErrors(field)
        p.error #{pippo.i18n(bindingResult.getFieldError(field).code)}


block variables

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/assets/bundle.css')
        block scripts

        title= pageTitle
    body
        .content
            block content
