extends ../layouts/default

block variables
    - var pageTitle = "Inschrijving Bevestigen"

block content
    h1 Inschrijving Bevestigen
    p Kopieer de activatiecode in onderstaand tekstveld.

    form.pure-form.pure-form-stacked(method="POST")
        input(name="_csrf", type="hidden", value="#{_csrf}")

        label(for="token") Activatiecode
        input(id="token", name="token", type="text", required)

        button.pure-button.pure-button-primary(type="submit") Bevestigen